<div class="mt-4 cristal rounded-2xl p-4 border border-purple-400/30 dark:border-blue-600/30 shadow-lg flex flex-col items-start gap-2 w-full max-w-md mx-auto transition-all hover:shadow-xl hover:shadow-purple-300/30 dark:hover:shadow-blue-800/30">
  <div class="w-full">
    <h3 class="text-xl font-semibold text-secondary ">Especies</h3>
    <ul class=" p-0 ">
      @for (item of characterStore.totales().species; track $index) {
        <li class="flex text-base text-gray-700 dark:text-gray-300">
          <span class="font-medium text-primary">{{item?.name || 'Sin especie'}}</span> : &nbsp;
          <span class="">{{item.count}}</span>
        </li>
      }
    </ul>
  </div>

  <div class="w-full">
    <h3 class="text-xl font-semibold text-secondary ">Tipos</h3>
    <ul class=" p-0 ">
      @for (item of characterStore.totales().types; track $index) {
        <li class="flex text-base text-gray-700 dark:text-gray-300 ">
          <span class="font-medium text-primary text-start">{{item?.name || 'Sin tipo'}}</span>: &nbsp;
          <span class="">{{item.count}}</span>
        </li>
      }
    </ul>
  </div>
</div>
